ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00BFFF;
}

li {
    float: left;
    border-right:2px solid #FFF;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #333;
}


.entete {
    background-color: #E6E6E6;
    color: #000000;   
}

footer{
    padding:15px 0px;/*Marge verticale*/
    background-color:#58D3F7; /*Couleur de fond*/
    text-align:left;/*texte centré*/
    position:relative;left: 0; right: 0;
    bottom:0px;
    width:100%;   
    height:20%;

}

h1.titre{
    text-align: center;

}

div.icone{
    margin-right: 50px;
    margin-left: 200px;
    text-align: center;
}

